
 div#menu {
      font-size: 15px;
      margin: 2;
      padding: 5;
  }
 div#menu li {
    transition-property: background-color;
  transition-duration: 0.2s;
    transition-timing-function: ease;
 }
 div#menu li {
      background-color: blue;
      border-bottom: none;
      display: block;
      margin: 2px;
      float: left;
  }
 div#menu li a {
      color: white;
      display: block;
      font-weight: bold;
      height: 30px;
      text-align: center;
  }
  div#menu li li:hover {
      background-color: transparent;
      border-bottom:7px solid orange;
  }
  
 div#menu li.active, ul#menu li:hover {
      background-color: Transparent;
      border-bottom: 5px solid yellow;
  }
 

